@model Catalog.ViewModel.CategoriesViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h3>@ViewBag.Message</h3>

<div class="table-responsive">
    <table class="table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Guid</th>
                <th>Тип</th>
                <th>Имя</th>
            </tr>
        </thead>
        @foreach (var category in Model.Categories)
        {
        <tr>
            <td style="padding: 5px 2px 5px 2px"><strong>@category.Id</strong></td>
            <td style="padding: 5px 2px 5px 2px">@category.TypeGuid</td>
            <td style="padding: 5px 2px 5px 2px">@category.TypeName</td>
            <td style="padding: 5px 2px 5px 2px">@category.Name</td>
        </tr>
        }
    </table>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
