@model Catalog.Model.Model
@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="h2">Список заданий</div>
    <div> (@Html.ActionLink("перегенерировать", "RegenerateList", "AsgList"))</div>
</div>
<div class="table">
    <table class="table">
        <thead>
            <tr>
                <th>Ид</th>
                <th>Тема</th>
                <th>Исполнитель</th>
                <th>Срок</th>
                <th>Статус</th>
                <th>Просрочка</th>
            </tr>
        </thead>
        @foreach (var asg in Model.Assignments)
        {
        <tr @(asg.HasOverdue ? "style=background-color:#FFE9DC" : "")>
            <td>@Html.ActionLink(asg.Id.ToString(), "Index", "Asg", new { id = asg.Id }, null)</td>
            <td>@asg.Name</td>
            <td>@Html.ActionLink(asg.Performer.Name, "Index", "Performer", new { id = asg.Performer.Id }, null)</td>
            <td>@asg.Deadline</td>
            <td>@asg.Status</td>
            <td>@(asg.HasOverdue ? asg.Overdue.ToString() : "-")</td>
            <td style=""></td>
        </tr>
        }
    </table>
</div>