@using System.Globalization
@using Catalog.Model

@model Model
@{
  ViewBag.Title = "Список заданий";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
</head>

<div class="row">
    <button id="button" onclick="AddRandomAsg()" class="btn btn-success col-md-3">Добавить случайное задание</button>
    <button id="ShowAllAssignments" class="btn btn-default col-md-3">Показать все задания</button>
    <button class="btn btn-info col-md-3" id="MiAButton">Мониторинг и анализ</button>
    <button class="btn btn-danger col-md-3" id="Regenerate">Перегенерировать</button>
</div>

<div class="page-header" style="margin-top: 20px; margin-bottom: 0">
    <h2>Список заданий<br><small>@ViewBag.Subtitle</small></h2>
</div>

<script>
    $('#MiAButton').click(function() {
        location.href = '@Url.Action("Index", "MiA")';
    });

    $("#ShowAllAssignments").click(function() {
        location.href = '@Url.Action("Index", "AsgList")';
    });

    $("#Regenerate").click(function() {
        location.href = '@Url.Action("RegenerateList", "AsgList")';
    })
</script>

<div class="row">
    <div class="col-md-8 loading" id="divLoading">
        <div class="progress" style="width:40%; margin-left:30%; margin-top: 30%">
            <div class="progress-bar progress-bar-striped active" style="width:100%;">
                Загрузка
            </div>
        </div>
    </div>
    <div id="AsgList" class="col-md-8" style="display: none;">

    </div>

    <div id="AsgPieChart" class="col-md-4">

    </div>
</div>

<script>
    $(document).ready(function() {
        $.get("/asglist/GetAssignments", function(r) {
            $("#AsgList").html(r);
            completeLoadList();
        });
    });

    $(document).ready(function () {
        $.get("/asglist/GetAssignmentsPieChart", function (r) {
            $("#AsgPieChart").html(r);
        });
    });

    function completeLoadList(f) {
        var t = setTimeout(function() {
            $("#divLoading").fadeOut(200, function() {
                $("#AsgList").fadeIn(200);
            });
        }, 400);
    }

    function beginLoadList() {
        $("#AsgList").fadeOut(200, function() {
            $("#divLoading").fadeIn(200);
        });
    }

    function loadPage(num) {
        beginLoadList();

        $.get("/asglist/GetAssignments/?page=" + num.toString(), function(r) {
            $("#AsgList").html(r);
            completeLoadList();
        });
    }

    function AddRandomAsg() {
        $.get('@Url.Action("GetRandomAsg", "AsgList")', function(asg) {
            $("#newAsg").text = asg;
            if (asg) {
                AddRow(asg);
            }
        });
    }

    function AddRow(asg) {

        var date = new Date(parseInt(asg.Deadline.substr(6)));

        var options = {
            day: "2-digit",
            month: "2-digit",
            year: "numeric"
        };

        var row =
            '<tr' + (asg.HasOverdue ? ' style=\"background-color:#FFE9DC\"' : '\"\"') + '>' +
                '<td><a href=\"/Asg/Index?id=' + asg.Id + '\">' + asg.Id + '</a></td>' +
                '<td>' + asg.Name + '</td>' +
                '<td><a href=\"/Performer/Index?id=' + asg.Performer.Id + '\">' + asg.Performer.Name + '</a></td>' +
                '<td>' + (!asg.Deadline ? '-' : date.toLocaleDateString('ru-RU', options)) + '</td>' +
                '<td>' + asg.Status + '</td>' +
                '<td>' + (asg.HasOverdue ? asg.Overdue : '-') + '</td>' +
                '</tr>';
        $("#AsgListTable").prepend(row);
        $("#AsgListTable tr:last").remove();
    }
</script>