
@{
    ViewBag.Title = "Мониторинг и анализ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Highcharts-4.0.1/js/highcharts-all.js")" type="text/javascript"></script>
</head>

<div style="margin-top: 20px">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <h3>Исполнительская дисциплина</h3>
                    </div>
                    <div class="row">
                        <div style="position: relative; left: 0; top: 0;">@ViewBag.DisciplineChart</div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <h3>Задания c нарушением срока</h3>
                    </div>
                    <div class="row">@ViewBag.OverdueTasks</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">Динамика активных заданий</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <h3>Сотрудники с высокой загрузкой</h3>
            </div>
            <div class="row">@ViewBag.AssignmentsPerPerson</div>
        </div>
    </div>
</div>

